$clr-primary-100: hsl(0, 78%, 62%);
$clr-primary-200: hsl(180, 62%, 55%);
$clr-primary-300: hsl(34, 97%, 64%);
$clr-primary-400: hsl(212, 86%, 64%);

$clr-neutral-100: hsl(234, 12%, 34%);
$clr-neutral-200: hsl(229, 6%, 66%);
$clr-neutral-300: hsl(0, 0%, 98%);
$clr-neutral-400: hsl(0, 0%, 100%);

$clr-box-shadow-100: hsla(212, 28%, 64%, 0.5);
