@use "utilities" as *;

$fs-100: 0.75rem;
$fs-200: 0.85rem;
$fs-300: 0.95rem;
$fs-400: toRem(15);
$fs-500: 1rem;
$fs-600: 1.1rem;
$fs-700: 1.5rem;
$fs-800: 1.5rem;

$ff-primary: "Poppins", sans-serif;
